/* You can add global styles to this file, and also import other style files */
@import "./scss/app";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color ;
}


.form-control:focus {
    box-shadow: none !important;
}

.error-indication {
    border: 1px solid red !important;
}

.error-message {
    color: red;
    font-size: .7rem !important;
}

// .ng2-pdf-viewer-container {
//     overflow: unset !important;
// }